:root {
    --verde: #17A2B8;
    --verdeEscuro: #16889c;
    --cinzaEscuro: #31333C;
    --cinzaClaro: #e0e3f0;
    --cinzaClaro2: #f0f3ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

/* TELA LOGIN */
nav {
    width: 100%;
    height: 50px;
    background-color: var(--cinzaEscuro);
    padding: 10px;

    display: flex;
    align-items: center;
}

nav img {
    width: 35px;
}

nav h2 {
    color: #fff;
    margin-left: 5px;
}

.tela_login {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--verdeEscuro);

    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario_login {
    width: 95%;
    border: 1px solid var(--cinzaClaro);
    border-radius: 5px;
    max-width: 400px;
    background-color: var(--cinzaClaro2);
}

.titulo_login {
    background-color: var(--cinzaClaro);
    padding: 10px;
    color: var(--cinzaEscuro);
    font-weight: bold;
}

.formulario_login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.formulario_login input {
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 5px;
    margin: 10px 0;
}

.formulario_login input:focus {
    outline: 1px solid var(--cinzaClaro);
}


.formulario_login button {
    height: 40px;
    width: 100%;
    background-color: var(--verde);
    color: #fff;
    border: 1px solid var(--cinzaClaro2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.formulario_login button:hover {
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}

/* FIM DA TELA DE LOGIN */

/* PAGINA HOME */
.inicio {
    background-color: var(--verdeEscuro);
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio > div {
    width: 95%;
    max-width: 600px;
    background-color: blue;
    border: 1px solid var(--cinzaClaro);
    border-radius: 5px;
}

.titulo_menu {
    background-color: var(--cinzaClaro);
    padding: 10px;
    color: var(--cinzaEscuro);
    font-weight: bold;
}

.menu {
    background-color: var(--cinzaClaro2);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.menu .itens img {
    width: 80px;
}

/* FIM DA PAGINA HOME */


/* VALIDAÇÕES */

.erro_login {
    color: #fa3535;
    margin-top: 15px;
    font-weight: bold;
}