:root {
    --verde: #17A2B8;
    --verdeEscuro: #16889c;
    --cinzaEscuro: #31333C;
    --cinzaClaro: #e0e3f0;
    --cinzaClaro2: #f0f3ff;
    --amarelo: #FFC009;
    --amareloEscuro: #d8a40a;
    --vermelho: #fa3535;
    --vermelhoEscuro: #cc2929;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

/* TELA LOGIN */
nav {
    width: 100%;
    height: 50px;
    background-color: var(--cinzaEscuro);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.btn_sair {
    color: var(--cinzaClaro);
    font-size: 14px;
    font-weight: bold;
}

nav a {
    display: flex;
    align-items: center;
}

nav img {
    width: 35px;
}

nav h2 {
    color: #fff;
    margin-left: 5px;
}

.tela_login {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--verdeEscuro);

    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario_login {
    width: 95%;
    border: 1px solid var(--cinzaClaro);
    border-radius: 5px;
    max-width: 400px;
    background-color: var(--cinzaClaro2);
}

.titulo_login {
    background-color: var(--cinzaClaro);
    padding: 10px;
    color: var(--cinzaEscuro);
    font-weight: bold;
}

.formulario_login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.formulario_login input {
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 5px;
    margin: 10px 0;
}

.formulario_login input:focus {
    outline: 1px solid var(--cinzaClaro);
}


.formulario_login button {
    height: 40px;
    width: 100%;
    background-color: var(--verde);
    color: #fff;
    border: 1px solid var(--cinzaClaro2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.formulario_login button:hover {
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}

/* FIM DA TELA DE LOGIN */

/* PAGINA HOME */
.inicio {
    background-color: var(--verdeEscuro);
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio > div {
    width: 95%;
    max-width: 600px;
    border: 1px solid var(--cinzaClaro);
    border-radius: 5px;
}

.titulo_menu {
    background-color: var(--cinzaClaro);
    padding: 10px;
    color: var(--cinzaEscuro);
    font-weight: bold;
}

.menu {
    background-color: var(--cinzaClaro2);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.menu .itens img {
    width: 80px;
}

/* FIM DA PAGINA HOME */

/* PAGINA ABERTURA DE CHAMADO */
.form_abertura {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.form_abertura input, select, textarea {
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid var(--cinzaClaro);
    font-size: 14px;
}

.form_abertura input:focus, textarea:focus, select:focus {
    outline: 1px solid var(--cinzaClaro);
}

.form_abertura input{
    height: 30px;
    padding: 10px;
}

.form_abertura select{
    height: 30px;
}

.form_abertura textarea {
    padding: 10px;
}

.botoes_abertura {
    display: flex;
    justify-content: space-between;
}

.botoes_abertura a {
    width: 48%;
    height: 30px;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--cinzaEscuro);
    border-radius: 3px;
    font-size: 14px;
}

.botoes_abertura a:hover {
    background-color: var(--amareloEscuro);
    transition: 0.5s;
}

.botoes_abertura button {
    width: 48%;
    background-color: var(--verde);
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--cinzaEscuro);
    color: #fff;
}

.botoes_abertura button:hover {
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}
/* FIM ABERTURA DE CHAMADO */


/* PAGINA CONSULTA CHAMADO */
.chamados_abertos{
    background-color: var(--verdeEscuro);
    width: 100%;
    height: calc(100vh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.chamados_abertos > div {
    width: 95%;
    height: 90%;
    overflow-y: scroll;
    max-width: 900px;
    border: 1px solid var(--cinzaClaro);
    background-color: var(--cinzaClaro2);
    border-radius: 5px;
}

.descricao_chamado {
    background-color: var(--cinzaClaro2);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px 0;
}

.descricao_chamado > div {
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--cinzaClaro);
}

.descricao_chamado h2, h4, p {
    color: var(--cinzaEscuro);
    margin: 5px 0;
}

.btn_voltar {
    padding: 10px;
}

.btn_voltar a {
    width: 48%;
    height: 30px;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--cinzaEscuro);
    border-radius: 3px;
    font-size: 14px;
}

.btn_voltar a:hover {
    background-color: var(--amareloEscuro);
    transition: 0.5s;
}

.btns_consulta {
    display: flex;
    gap: 10px;
}

.btns_consulta .editar {
    background-color: var(--verde);
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}

.btns_consulta .editar:hover{
    background-color: var(--verdeEscuro);
    transition: 0.5s;
}

.btns_consulta .finalizar {
    background-color: var(--vermelho);
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
}

.btns_consulta .finalizar:hover {
    background-color: var(--vermelhoEscuro);
    transition: 0.5s;
}
/* FIM CONSULTA CHAMADO */

/* PAGINA DELETAR CHAMADO */
.deletar_chamado form{
    background-color: var(--cinzaClaro2);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.deletar_chamado form a {
    width: 40%;
    height: 30px;
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--cinzaEscuro);
    border-radius: 3px;
    font-size: 14px;
}

.deletar_chamado form a:hover {
    background-color: var(--amareloEscuro);
    transition: 0.5s;
}

.deletar_chamado button {
    background-color: var(--vermelho);
    border: none;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.deletar_chamado button:hover {
    background-color: var(--vermelhoEscuro);
    transition: 0.5s;
}
/* FIM DELETAR CHAMADO */

/* VALIDAÇÕES */
.erro_login {
    color: #fa3535;
    margin-top: 15px;
    font-weight: bold;
}